.big {
  width: 300px;
  height: 780px;
  background-color: rgba(247, 247, 247, 0.611);
  border-radius: 10px;
  /* padding: 10px 6px; */
  margin: 40px;
  overflow: auto;
  overflow-x: hidden;
  color: #111;
  direction: rtl;
  font-weight: 900;
}
.big div {
  font-size: larger;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  padding: 10px 10px;
  margin: 20px 20px;

}

.big div:hover {
  transform: scale(1.2);
  background-color: rgba(11, 11, 11, 0.682);
  color: rgb(253, 251, 251);
  font-weight: 900;
}
.aud {
  position: absolute;
  top: 50px;
  left: 350px;
  width: 340px;
  height: 780px;
  background-color: rgba(223, 223, 233, 0);
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 80px;
  direction: rtl;
  z-index: 1;
  padding: 5px 20px;
}

.aud::-webkit-scrollbar {
  width: 10px;
  height: 420px;
  background-color: rgba(102, 102, 107, 0.348);
  border-radius: 20px;
}

.aud::-webkit-scrollbar-track {
  border-radius: 20px;

  background-color: rgba(227, 227, 227, 0.448);
}

.aud::-webkit-scrollbar-thumb {
  border-radius: 30px;

  background-color: rgba(57, 1, 1, 0.788);
}

.aud::-webkit-scrollbar-thumb:hover {
  background-color: rgb(76, 3, 3);
}
.aud div {
  margin: 5px;
  padding: 10px;
  width: 300px;
  height: 150px;
  background-color: rgba(25, 42, 42, 0.777);
  padding: 17px;
  text-align: center;
  overflow: hidden;
  border-radius: 50px;
  align-items: center;
}
.aud div p {
  color: rgb(254, 248, 248);
  font-size: 20px;
  font-weight: 900;
  font-family: Verdana, Tahoma, sans-serif;
  display: inline;
  /* letter-spacing: 3px; */
}
h3 {
  background-color: rgba(106, 5, 5, 0.678);
  color: rgba(249, 249, 241, 0.955);
  font-size: 20px;
  display: inline-block;
  font-weight: bolder;
  border-radius: 50px;
  border-style: dotted;
  border: groove rgba(234, 223, 223, 0.745) 6px;
  margin: 15px;
  padding: 5px;
}

.aya {
  background-color: rgb(248, 221, 188);
  position: absolute;
  top: 45px;
  right: 400px;
  left: 105px;
  bottom: 5px;
  padding: 20px;
  margin: 0px;
  width: 82.5%;
  height: 84%;
  color: #111;
  font-weight: bolder;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  direction: rtl;
  /* scrollbar-darkshadow-color: #222; */
}

.aya::-webkit-scrollbar {
  width: 15px;
  background-color: rgba(173, 156, 113, 0.495);
  border-radius: 30px;
  scrollbar-shadow-color: #111;
}

.aya::-webkit-scrollbar-thumb {
  border-radius: 30px;

  background-color: rgba(45, 3, 3, 0.597);
}

.aya::-webkit-scrollbar-thumb:hover {
  background-color: rgb(76, 3, 3);
}
.p {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-size: 27px;

  display: inline;
}

h2 {
  background-color: rgba(5, 58, 4, 0.81);
  color: rgba(235, 239, 142, 0.704);
  font-size: 20px;
  display: inline-block;
  font-weight: bolder;
  border-radius: 50px;
  border-style: dotted;
  border: dotted rgb(94, 2, 2) 6px;
  margin: 15px;
  padding: 5px;
}
.aya div p {
  cursor: pointer;
}
.backg {
  visibility: hidden;
}
.audioD {
  position: absolute;
  top: 802px;
  right: 650px;
  left: 700px;
  direction: rtl;
}

.shape {
  background-size: 101% 100%;
  position: absolute;
  top: 40px;
  right: 150px;
  width: 70%;
  height: 90%;
  background-image: url("fram.jpg");
}
h1 {
  color: rgb(192, 5, 5);
}
